{% extends 'base.html' %}
{% load static %}


{% block content %}
 <article class="single"> 
  <div>
    <h1>Hey there!!!<br> I am <strong>Tarunesh Kumar Gautam</strong>.</h1>
<h2><strong>About The Content</strong></h2>
<p>This is helpful for those who want to become a python programer , web developer and all the others tech enthusiasts who are curious about the new technologies emerging day by day.</p>
<h2><strong>User Focused</strong></h2>
<img class="profile_pic" src="{% static 'blog/img/usr_focus.png'%}" style="float: left;">
<p>This is mainly focused to beginers who want to learn something new and especially want to learn in real. Here we provide content in such a manner so that anyone can learn and understand.</p>
<p><strong>We want to know our customers...I mean, really know!!</strong><p>
<p>Awareness starts with understanding your customer’s interests, beliefs, and attitudes. It’s all about generating accurate buyer personas.</p>
<p><em>Once customers trust your brand, they will be more willing to refer their friends and leave positive reviews.</em></p>
<h2><strong>Want to publish</strong></h2>
<p>If you want to publish some content here in this blog which you think can be useful for the beginers then you are most welcomed. You can drop an email. Contact details are available down below</p>
<h2><strong>Contact</strong></h2>
<p>We'd like to hear from you ...</p>
<ul>
<li>
<p>You can follow us on <a href="https://twitter.com" target="_blank">Twitter</a>, <a href="https://www.facebook.com" target="_blank">FB</a>, <a href="https://github.com/tarunesh1234" target="_blank">Github</a>.</p>
</li>
<li>
<p>You know a cool article feature, product, idiom, etc? <u>Email us</u> at <strong>project@blog.com</strong> .</p>
</li>
</ul>
<h2><strong>Disclaimer</strong></h2>
<p>Honestly speaking we are not going to help you long......<br><strong>This is just our project</strong><br></p>
<hr>
<p>Keep Calm and Stay blessed!</p>
<p>Tarunesh</p>
  </div>



{% endblock %}