{% extends 'base.html' %}
{% load static%}

{% block head %}
<!-- ============== Github Markdown CSS ======================== -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
<!-- ============== Markdown JS ======================== -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<!-- ============== Syntax Highlight CSS ======================== -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/monokai-sublime.min.css" integrity="sha512-/l4iViNMhxR5MhSlak3Yw/L/7qUBifVy7MpLjeJTc8BPMRFbGplGN0xqufCDwhSdxSnVgy+e/OYsNnU75K3yyQ==" crossorigin="anonymous" />
<!-- ============== Syntax Highlight JS ======================== -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js" integrity="sha512-9GIHU4rPKUMvNOHFOer5Zm2zHnZOjayOO3lZpokhhCtgt8FNlNiW/bb7kl0R5ZXfCDVPcQ8S4oBdNs92p5Nm2w==" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<article class="container container-flex newpost">
	
	<form action="" method="POST">
		{% csrf_token%}
		<div class="tags btn bg">
			<input type="submit" value="Submit">
			<input type="button" onclick=preview() value="Preview">
		</div>
		<div class="newinput">
			{% if view %}		
			{{form.tags}}
			{%endif%}
			{{form.title}}
			{{form.descp}}
		</div>	
	</form>
	<div class="markdown-body" id="preview-container"></div>
</article>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'blog/js/previewpost.js'%}"></script>
{%endblock%}