{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<section class="container blog">
  <div class="drafts">
    <div class="draftsheader">
      <h1>My Drafts</h1>
      <p>Below is a listing of your articles ready to be published</p>
    </div>
    

    {% for post in posts %}
    <br>
    <div class="article draftsheader draftstext">
      	<div class="text ">
            <h2 id="title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
            <p id="descp">{{post.descp | truncatewords:40|striptags|safe}}</p>
            <p class="info"><span>{{post.author}}</span> | <span>{{post.created_date|naturaltime}}</span></p>
            <div class="tags btn">
              <li><a href="{%url 'post_edit' pk=post.pk%}">edit</a></li>
              <li><a href="{%url 'post_publish' pk=post.pk%}">publish</a></li>
              <li><a href="{%url 'post_remove' pk=post.pk slug='drafts'%}">delete</a></li>
            </div>  
      	</div>
   	</div>
    {%endfor%}
  </div>
</section>

{%endblock%}