article {
	min-height: 80vh;
	margin-top:100px; 
}

article h1,h2,h3,h4,h5,h6 {
	color: #016;
}
footer h2 {
	color:#fff;
}

article .title h1{
	font-size: 1.8em;
	font-weight: 900;
}


.articleheader {
	margin-top:15px;
}


.content {
	margin-top:2em; 
	padding: 0 10px;
	min-height: : 80vh;
}



@media (min-width: 786px){
	.main {
	    flex-direction: column;
	    justify-content: flex-start;
	}
	
	article .title h1{
		font-size: 2.5em;
	}
}





