article {
	min-height: 80vh;
	margin-top:100px; 
}

article h1,h2,h3,h4,h5,h6 {
	color: #016;
}
footer h2 {
	color:#fff;
}

article h1{
	font-size: 2em;
}
.articleheader {
	margin-top:15px;
}


.content {
	margin-top:2em; 
	padding: 0;
	min-height: : 80vh;
}


@media (min-width: 786px){
	.main {
	    flex-direction: column;
	    justify-content: flex-start;
	}
}





