body {
    margin: 0;
    background-color: white;
    font-size: 1.15rem;
}

a{
    text-decoration: none;
    color: inherit;
}

textarea:focus, input:focus{
    outline: none;
}


header {
    /* text-align: center; */
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media (min-width: 786px){
header {
    padding-bottom: 1em;
}
}

.container {
    width: 90%;
    max-width: 980px;
     /*border: 1px solid red; */
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@media (min-width: 786px){

.container-flex {
    flex-direction: row;
}
}

.nav-container {
    /*border: 1px solid blue;*/
    align-items: center;
}

.logo {
      /*border: 1px solid red; */
    font-size: 2em;
    font-weight: bold;
}

.search-div {
      /*border: 1px solid red; */
      display: none;
}

nav ul {
    /* border: 3px solid green; */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

@media (min-width: 786px){
nav ul {
    flex-direction: row;
}
nav li {
    margin: 0 1em;
}
}

.blog {
    margin-top: 2em;
}

/*.articles {
    border:1px solid red;
}
.sidebar {
    border:1px solid red;
}*/
@media (min-width: 786px){
.articles {
    width: 65%;
    /*border:1px solid red;*/
}
.blog {
    min-height: 80vh;
}
.sidebar {
    /*border:1px solid red;*/
    width:30%;
}

}



.article {
    /*border:1px solid red;*/
}

#title {
    margin-top: 0;
    color: #143774;
}

.info {
    font-size: 1rem;
}

.tags{

    padding: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f8f8;
}


.tags li {
    margin:3px;
    padding: 5px;
    text-transform: capitalize;
    flex-grow: 3;
    text-align: center;
    border-radius: 2px;
    background-color: #FFD107;
    transition: background-color .2s linear;
    }


    .tags li:hover {
    background-color: #FFA12F;
    letter-spacing: 0.2px;
    transition: .3s  ease;
    }

@media (min-width: 786px){

}


.draftsheader{
    /*border:1px solid red;*/
    padding:20px;
    border-radius: 5px;
    background-color: #f8f8f8;
}

/*===============================================================*/
/*footer*/
footer{
    margin-top:100px;
    padding:50px;
    background-color: #143774;
    color: #fff;
}

footer ul{
    padding-left: 0;
    list-style: none;
}


/*============================================================*/
/*pagination css*/
.paginated{
    margin:50px 0;
}

.paginated ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.paginated li{
    margin:0;
    padding:0;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.paginated a{
    display: inline-block;
    padding: 15px 20px;
}

.paginated li:hover {
    background-color: #FFC107;
}

.paginated .active{
    background-color: #FFC107;
}




/*blog section ends*/
