@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;700;900&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans HK', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}



textarea:focus,
input:focus {
    outline: none;
}

.bg {
    /*border:1px solid red;*/
    padding: 0.6em;
    background-color: #f8f8f8;
    border-radius: 10px;
}


.header {
    /*border:1px solid red;*/
    text-align: center;
    position: sticky;
    top: 0;
    border-radius: 0;
    border-bottom: 2px solid #FFD107;
}

.container {
    /*border:1px solid red;*/
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
}


.nav-container {
    padding: 0.6rem;
}

@media (min-width: 786px) {
    .container-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


.logo {
    font-size: 2em;
    font-weight: 900;
}

.search-div {
    display: none;
}

.mobile {
    display: flex;
    justify-content: space-between;
}



nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 0;
    border-bottom: 1px solid #143774;
}

nav ul li:last-child {
    border: 0;
}

nav a {
    display: block;
    margin: 0;
    padding: 0.4rem;
}

nav a:hover {
    color: blue;
}


/*on small screens */
/*initially nav display is none*/
/*onclick it is block*/
nav {
    display: none;
}

.clicked {
    display: block;
}

@media (min-width: 786px) {
    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        border: 0;
    }

    .mob-icon {
        display: none;
    }
}


.blog {
    margin-top: 2em;
    min-height: 80vh;
}


@media (min-width: 786px) {
    .articles {
        width: 68%;
    }

    .sidebar {
        width: 30%;
    }
}

#title {
    color: #143774;
}

#descp {
    font-weight: 300;
}

.info {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.info span {
    margin-right: 10px;
}


.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


.tags li {
    margin: 3px;
    padding: 5px;
    text-transform: capitalize;
    flex-grow: 3;
    text-align: center;
    border-radius: 2px;
    background-color: #FFD107;
    transition: background-color .2s linear;
}

.btn li {
    flex-grow: initial;
}

.tags li:hover {
    background-color: #FFA12F;
    letter-spacing: 0.2px;
    transition: .3s ease;
}


.article {
    padding-left: 1.5em;
}

.drafts {
    margin-top: 2em;
}

.draftsheader {
    padding: 20px;
}



/*===============================================================*/
/*footer*/
footer {
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    background-color: #143774;
    color: #fff;

}



/*============================================================*/
/*pagination css*/
.paginated {
    display: flex;
    justify-content: center;
}

.paginated ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.paginated li {
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.paginated a {
    display: inline-block;
    padding: 15px 20px;
}

.paginated li:hover {
    background-color: #FFC107;
}

.paginated .active {
    background-color: #FFC107;
}

/*newpost page css*/
.newpost {
    margin: 50px auto;
    flex-direction: column;
    justify-content: flex-start;
}

#id_descp {
    height: 50vh;
    padding: 0.5rem;
}

.newinput {
    display: flex;
    flex-direction: column;
}

.newinput input {
    height: 2.5rem;
    font-size: 1.5rem;
    margin: 0.4rem 0;
    padding-left: 1rem;
}

.btn input {
    padding: 0.5rem 1rem;
    margin-right: 10px;
    background-color: #FFC107;
    border: 0;
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.2), -2px 0px 10px 0px rgba(0, 0, 0, 0.19);

}

textarea {
    resize: vertical;
}