{% extends "base_auth.html" %}
{% block title %}Log-in{% endblock %}


{% block auth %}
<div class="auth container ">
	<h2>Welcome Back 😎</h2>
	{% if form.errors %}</p>
	<div class="err">
		<p>
			Your username and password didn't match.
			Please try again.
		</p>	
	</div>
	
	{% endif %}

	<div class="form login-form">
		<form action="{% url 'login' %}" method="post">
			{{form.as_p}}

			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			<p id="submit"><input type="submit" value="Log-in"></p>
		</form>
		<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
 	</div>	
</div>
 
{% endblock %}

<!-- 
form.as_p output
<p>
<label for="id_username">Username:</label><br>
<input type="text" name="username" autofocus maxlength="254" required id="id_username" />
</p>
<p>
<label for="id_password">Password:</label><br>
<input type="password" name="password" required id="id_password" />
</p> -->