.auth {
	/*height: 80vh;*/
	margin:104px 0; 
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*font-size: 1.5em;*/
}


.form {
	width:90%;
	margin-top: 20px;
	border: 2px solid #FFC107;
	padding:0; 
}

.form p  {
	margin:20px;
}

.form input {
	width:100%;
	height: 2rem;
	font-size: 1rem;
	padding: 5px; 
}

.err {
	border: 2px solid #FFC107;
	width:70%;
	padding: 5px;
	background-color: #FA3E3E;
}

#submit input {
	background-color: #FFC107;
	border : 0; 
	box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.2), -2px 0px 10px 0px rgba(0, 0, 0, 0.19);
}

.helptext ul li {
	list-style: none;
}


@media (min-width: 768px){
	
	.form{
		width:30%; 
	}
	
	.err {
		width:30%;
	}

}