.auth {
	border:1px solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
}


.form {
	width: 80%;
	border: 2px solid #FFC107;
	padding:10px; 
}

.form p  {
	display: flex;
	flex-direction: column;
}

form input {
	height: 2rem;
}

.err {
	border: 2px solid #FFC107;
	padding: 0 10px;
	margin-bottom: 15px;
	background-color: #FA3E3E;
	color: #fff;
}

.errorlist {
	list-style: none;
	padding: 3px;
	background-color: #f8f8f8;
}

#submit input {
	background-color: #FFC107;
	border : 0; 
	box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.2), -2px 0px 10px 0px rgba(0, 0, 0, 0.19);
}

.helptext ul li {
	list-style: none;
}


@media (min-width: 768px){
	
	.form{
		width:30%; 
	}
	
	.err {
		width:30%;
	}

}